body{
    background:#0b0b0b;
    overflow:hidden;
}

.bg{
    position:fixed;
    inset:0;
    z-index:-2;
}

.bg img{
    position:absolute;
    width:45%;
    filter:blur(10px);
    opacity:.25;
    object-fit:cover;
    animation:float 12s ease-in-out infinite alternate;
}

.bg img:nth-child(1){
    top:-5%;
    left:-8%;
}

.bg img:nth-child(2){
    bottom:-8%;
    right:-8%;
}

.bg::after{
    content:"";
    position:absolute;
    inset:0;
    background:
    radial-gradient(circle,#6b4cff33,transparent 60%),
    rgba(0,0,0,.65);
}